# designed to be run with systemctl start --user desktop-automater
# file location: ~/.config/systemd/user/auto-desk.service
[Unit]
Description=desktop-automater

[Service]
ExecStart=auto-desk start
ExecStop=auto-desk stop

[Install]
# WantedBy=multi-user.target
WantedBy=default.target
